src/documents/schemaCV.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
    
    <xs:element name="CV" type="CV"/>
<!--Simple Types-->
    <xs:simpleType name="site_web">
        <xs:restriction base="xs:string">
            <xs:pattern value="http://.*" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CP">
        <xs:restriction base="xs:string">
            <xs:length value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="date">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-3]{1}[0-9]{1}/[0,1]{1}[0-9]{1}/[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="voie">
        <xs:restriction base="xs:string">
            <xs:enumeration value="rue"/>
            <xs:enumeration value="impasse"/>
            <xs:enumeration value="boulevard"/>
            <xs:enumeration value="cours"/>
            <xs:enumeration value="place"/>
            <xs:enumeration value="allée"/>
            <xs:enumeration value="avenue"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="departement">
        <xs:restriction base="xs:string">
            <xs:enumeration value="01"/>
            <xs:enumeration value="02"/>
            <xs:enumeration value="03"/>
            <xs:enumeration value="04"/>
            <xs:enumeration value="05"/>
            <xs:enumeration value="06"/>
            <xs:enumeration value="07"/>
            <xs:enumeration value="08"/>
            <xs:enumeration value="09"/>
            <xs:enumeration value="10"/>
            <xs:enumeration value="11"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="13"/>
            <xs:enumeration value="14"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="16"/>
            <xs:enumeration value="17"/>
            <xs:enumeration value="18"/>
            <xs:enumeration value="19"/>
            <xs:enumeration value="2A"/>
            <xs:enumeration value="2B"/>
            <xs:enumeration value="21"/>
            <xs:enumeration value="22"/>
            <xs:enumeration value="23"/>
            <xs:enumeration value="24"/>
            <xs:enumeration value="25"/>
            <xs:enumeration value="26"/>
            <xs:enumeration value="27"/>
            <xs:enumeration value="28"/>
            <xs:enumeration value="29"/>
            <xs:enumeration value="30"/>
            <xs:enumeration value="31"/>
            <xs:enumeration value="32"/>
            <xs:enumeration value="33"/>
            <xs:enumeration value="34"/>
            <xs:enumeration value="35"/>
            <xs:enumeration value="36"/>
            <xs:enumeration value="37"/>
            <xs:enumeration value="38"/>
            <xs:enumeration value="39"/>
            <xs:enumeration value="40"/>
            <xs:enumeration value="41"/>
            <xs:enumeration value="42"/>
            <xs:enumeration value="43"/>
            <xs:enumeration value="44"/>
            <xs:enumeration value="45"/>
            <xs:enumeration value="46"/>
            <xs:enumeration value="47"/>
            <xs:enumeration value="48"/>
            <xs:enumeration value="49"/>
            <xs:enumeration value="50"/>
            <xs:enumeration value="51"/>
            <xs:enumeration value="52"/>
            <xs:enumeration value="53"/>
            <xs:enumeration value="54"/>
            <xs:enumeration value="55"/>
            <xs:enumeration value="56"/>
            <xs:enumeration value="57"/>
            <xs:enumeration value="58"/>
            <xs:enumeration value="59"/>
            <xs:enumeration value="60"/>
            <xs:enumeration value="61"/>
            <xs:enumeration value="62"/>
            <xs:enumeration value="63"/>
            <xs:enumeration value="64"/>
            <xs:enumeration value="65"/>
            <xs:enumeration value="66"/>
            <xs:enumeration value="67"/>
            <xs:enumeration value="68"/>
            <xs:enumeration value="69"/>
            <xs:enumeration value="70"/>
            <xs:enumeration value="71"/>
            <xs:enumeration value="72"/>
            <xs:enumeration value="73"/>
            <xs:enumeration value="74"/>
            <xs:enumeration value="75"/>
            <xs:enumeration value="76"/>
            <xs:enumeration value="77"/>
            <xs:enumeration value="78"/>
            <xs:enumeration value="79"/>
            <xs:enumeration value="80"/>
            <xs:enumeration value="81"/>
            <xs:enumeration value="82"/>
            <xs:enumeration value="83"/>
            <xs:enumeration value="84"/>
            <xs:enumeration value="85"/>
            <xs:enumeration value="86"/>
            <xs:enumeration value="87"/>
            <xs:enumeration value="88"/>
            <xs:enumeration value="89"/>
            <xs:enumeration value="90"/>
            <xs:enumeration value="91"/>
            <xs:enumeration value="92"/>
            <xs:enumeration value="93"/>
            <xs:enumeration value="94"/>
            <xs:enumeration value="95"/>
            <xs:enumeration value="971"/>
            <xs:enumeration value="972"/>
            <xs:enumeration value="973"/>
            <xs:enumeration value="974"/>
    </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="mention">
        <xs:restriction base="xs:string">
            <xs:enumeration value="BIS"/>
            <xs:enumeration value="TER"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="telephone">
        <xs:restriction base="xs:int">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="email">
        <xs:restriction base="xs:string">
            <xs:pattern value=".+@.+\..+" />
        </xs:restriction>
    </xs:simpleType>
    <!--Complex Types-->
    <xs:complexType name="etat_civil">
        <xs:sequence>
            <xs:element name="prenom" type="xs:string"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="naissance" type="date"/>
            <xs:element name="nationnalite" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="adresse">
        <xs:sequence>
            <xs:element name="numero" type="xs:int"></xs:element>
            <xs:element name="mention" minOccurs="0" type="mention"/>
            <xs:element name="voie" type="voie"/>
            <xs:element name="nom" type="xs:string"/>
            <xs:element name="CP"/>
            <xs:element name="ville" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="coordonnees">
        <xs:sequence>
            <xs:element name="adresse" type="adresse"/>
            <xs:element name="telephone" type="telephone"/>
            <xs:element name="mail" type="email"/>
            <xs:element name="site_web" type="site_web"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="formation">
        <xs:sequence>
            <xs:element name="date_debut" type="date"/>
            <xs:element name="date_fin" type="date"/>
            <xs:element name="diplome">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="intitule" type="xs:string"/>
                        <xs:element name="option" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                    <xs:attribute name="type" type="xs:string"/>
                    <xs:attribute name="mention" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="etablissement">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nom" type="xs:string"/>
                        <xs:element name="ville" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="titre" type="xs:string" default=""/>
    </xs:complexType>
    <xs:complexType name="experience">
        <xs:sequence>
            <xs:element name="date_debut" type="date"/>
            <xs:element name="date_fin" type="date"/>
            <xs:element name="intitule" type="xs:string"/>
            <xs:element name="entreprise">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="nom" type="xs:string"/>
                        <xs:element name="ville" type="xs:string"/>
                        <xs:element name="departement" type="departement"/>
                        <xs:element name="section" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="description"/>
        </xs:sequence>
        <xs:attribute name="titre" type="xs:string"/>
    </xs:complexType>
    
    <xs:complexType name="divers">
        <xs:sequence>
            <xs:element name="nom"/>
            <xs:element name="details"/>
        </xs:sequence>
        <xs:attribute name="titre" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="CV">
        <xs:sequence>
            <xs:element name="etat_civil" type="etat_civil"/>
            <xs:element name="coordonnees" type="coordonnees"/>
            <xs:element name="permis">
                <xs:complexType>
                    <xs:attribute name="type" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="avatar"/>
            <xs:element name="formations">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="formation" type="formation" maxOccurs="unbounded"/>
                    </xs:sequence>
                    <xs:attribute name="titre" type="xs:string" default="Parcours Universitaire"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="experiences">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="experience" maxOccurs="unbounded" type="experience"/>
                    </xs:sequence>
                    <xs:attribute name="titre" type="xs:string" default="Experiences Professionnelles"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="competences">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="competence" type="divers" maxOccurs="unbounded" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="interets">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="interet" maxOccurs="unbounded" type="divers"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
